@page "/diary"

@using System.Net.Http.Headers
@using SportApp.Shared.Services;
@using System.IO;
@using System;
@using SportApp.Shared.ViewModel;

@using System.Xml.Serialization;
@using SportApp.Shared;

@inject SportApp.Client.LoginLogic.LoginState LoginState
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject ILoginServices LocalLoginServices
@inject IActivityServices LocalActivityServices
@inject ISportServices LocalSportServices
@inject HttpClient http

<Basic @ref="basic" @bind-trainingId="@trainingId"></Basic>

<MatTable Style="font-size:13px; padding:0px" Items="@sortedData" class="mat-elevation-z5" ShowPaging="true" UseSortHeaderRow="true" SelectionChanged="SelectionChangedEvent" AllowSelection="true">
    <MatTableHeader>
        <MatSortHeaderRow Style="font-size:13px; padding:0px" SortChanged="@SortData">
            @*<MatSortHeader SortId="DistanceMeters"><span style="width:600px">Dessert (100g)</span></MatSortHeader>*@
            <MatSortHeader SortId="date"><span style="width:180px">Starting time</span> </MatSortHeader>
            <MatSortHeader SortId="distanceMeters"><span style="width:180px">Distance</span></MatSortHeader>
            <MatSortHeader SortId="velocity">Velocity</MatSortHeader>
            <MatSortHeader SortId="duration">Duration</MatSortHeader>
            <MatSortHeader SortId="calories">Calories</MatSortHeader>
            @*<MatSortHeader SortId="carbs">Carbs (g)</MatSortHeader>
        <MatSortHeader SortId="protein">Protein (g)</MatSortHeader>*@
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.StartingTime</td>
        <td>@Math.Round(context.DistanceMeters / 1000, 2, MidpointRounding.AwayFromZero) km</td>
        <td>@Math.Round(context.AverageVelocitykmh, 2, MidpointRounding.AwayFromZero) km/h</td>
        <td>@TimeSpan.FromSeconds((int)(context.DurationSeconds)) </td>
        <td>@Math.Round(context.Calories) kcal</td>
    </MatTableRow>
</MatTable>



@code {
    string token;
    int UserId;

    Basic basic;

    List<TrainingSessionDTO> TrainingListA;
    TrainingSessionDTO[] TrainingList;
    private string _statusClass;
    private string _errorMessage;
    int trainingId;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        UserId = await localStorage.GetItemAsync<int>("Id");
        token = await localStorage.GetItemAsync<string>("Token");
        http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        // needs to be automized
        if (UserId == 0)
        {
            NavigationManager.NavigateTo("/");
            LoginState.LoggedIn = false;
        }



        TrainingListA = await LocalActivityServices.GetTrainingSession(UserId);

        TrainingList = TrainingListA.ToArray();
        basic.Update(trainingId);
        SortData(null);

        StateHasChanged();
    }



    void SortData(MatSortChangedEvent sort)
    {
        sortedData = TrainingList.ToArray();
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            Comparison<TrainingSessionDTO> comparison = null;
            switch (sort.SortId)
            {
                case "date":
                    comparison = (s1, s2) => s1.StartingTime.CompareTo(s2.StartingTime);
                    break;
                case "distanceMeters":
                    comparison = (s1, s2) => s1.DistanceMeters.CompareTo(s2.DistanceMeters);
                    break;
                case "calories":
                    comparison = (s1, s2) => s1.Calories.CompareTo(s2.Calories);
                    break;
                case "velocity":
                    comparison = (s1, s2) => s1.AverageVelocitykmh.CompareTo(s2.AverageVelocitykmh);
                    break;
            }
            if (comparison != null)
            {
                if (sort.Direction == MatSortDirection.Desc)
                {
                    Array.Sort(sortedData, (s1, s2) => -1 * comparison(s1, s2));
                }
                else
                {
                    Array.Sort(sortedData, comparison);
                }
            }
        }
    }

    public void SelectionChangedEvent(object row)
    {
        if (row == null)
        {
            ;
        }
        else
        {
            trainingId = ((TrainingSessionDTO)row).Id;
            basic.Update(trainingId);
            this.StateHasChanged();
        }
    }

    TrainingSessionDTO[] sortedData = null;

}
